[Unit]
Description=Check Forge Cargo cache between jobs

[Timer]
OnBootSec=10min
OnUnitInactiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
